<div class="container">
  <div class="row">
    <div class="col-lg-7 mx-auto">
      <h4 class="title mt-4">編輯餐廳資料</h4>
      <hr>
      <form action="/restaurants/{{ restaurant._id }}?_method=PUT" method="POST">
        <div class="row mb-2 g-2 align-items-center">
          <label for="nameInput" class="col-md-4 col-form-label">餐廳名稱</label>
          <div class="col-md-8">
            <input type="text" class="form-control" name="nameInput" id="nameInput" value="{{ restaurant.name }}"
              required>
          </div>
        </div>

        <div class="row mb-2 g-2 align-items-center">
          <label for="nameEnInput" class="col-md-4 col-form-label">餐廳英文名稱</label>
          <div class="col-md-8">
            <input type="text" class="form-control" name="nameEnInput" id="nameEnInput" value="{{ restaurant.name_en }}"
              required>
          </div>
        </div>

        <div class="row mb-2 g-2 align-items-center">
          <label for="categoryInput" class="col-md-4 col-form-label">類別</label>
          <div class="col-md-8">
            <input type="text" class="form-control" name="categoryInput" id="categoryInput"
              value="{{ restaurant.category }}" required>
          </div>
        </div>

        <div class="row mb-2 g-2 align-items-center">
          <label for="imageInput" class="col-md-4 col-form-label">圖片網址</label>
          <div class="col-md-8">
            <input type="url" class="form-control" name="imageInput" id="imageInput" value="{{ restaurant.image }}"
              required>
          </div>
        </div>

        <div class="row mb-2 g-2 align-items-center">
          <label for="locationInput" class="col-md-4 col-form-label">地址</label>
          <div class="col-md-8">
            <input type="text" class="form-control" name="locationInput" id="locationInput"
              value="{{ restaurant.location }}" required>
          </div>
        </div>

        <div class="row mb-2 g-2 align-items-center">
          <label for="phoneInput" class="col-md-4 col-form-label">電話</label>
          <div class="col-md-8">
            <input type="tel" class="form-control" name="phoneInput" id="phoneInput" value="{{ restaurant.phone }}"
              required>
          </div>
        </div>

        <div class="row mb-2 g-2 align-items-center">
          <label for="googleMapInput" class="col-md-4 col-form-label">Google map網址</label>
          <div class="col-md-8">
            <input type="url" class="form-control" name="googleMapInput" id="googleMapInput"
              value="{{ restaurant.google_map }}" required>
          </div>
        </div>

        <div class="row mb-2 g-2 align-items-center">
          <label for="ratingInput" class="col-md-4 col-form-label">餐廳評分</label>
          <div class="col-md-8">
            <input type="number" min="0.0" max="10.0" step="0.1" class="form-control" value="{{ restaurant.rating }}"
              name="ratingInput" id="ratingInput" required>
          </div>
        </div>

        <div class="row mb-2 g-2 align-items-center">
          <label for="descriptionInput" class="col-md-4 col-form-label">餐廳介紹</label>
          <div class="col-md-8">
            <textarea rows="4" class="form-control" name="descriptionInput" id="descriptionInput"
              required>{{ restaurant.description }}</textarea>
          </div>
        </div>

        <div class="row justify-content-center my-4">
          <button type="submit" class="btn btn-info mr-3">確認修改</button>
          <a href="/" class="btn btn-info" role="button">取消</a>
        </div>
    </div>
    </form>
  </div>
</div>